<!DOCTYPE html>
<html lang="pt"
	  xmlns="http://www.w3.org/1999/xhtml">
	
	<div class="aw-error-panel">
		<h1 class="aw-error-panel__code">
			<i class="fa  fa-exclamation-triangle"></i>400
		</h1>
		
		<h2 class="aw-error-panel__title">Requisição inválida</h2>
		
		<div class="aw-error-panel__description">
			Desculpe, a requisição que você enviou não pôde ser processada por estar incompleta ou inválida.
			Verifique os dados informados e tente novamente.
			<br/><br/>
			<a href="javascript:history.back()" class="btn  btn-primary">Voltar para onde estava</a>
		</div>
	</div>

</html>
